trigger:  
  - main
  
pool:  
  vmImage: 'windows-latest'  
  
variables:  
  node_version: '14.21.1'  
  system.debug: true  
  
steps:  
  - task: NodeTool@0  
    inputs:  
      versionSpec: '$(node_version)'  
    displayName: 'Install Node.js'  
  
  - script: |  
      npm install -g yarn  
      yarn install  
    displayName: 'Install dependencies'  
  
  - script: |  
      yarn --version  
      npx vuepress --version  
    displayName: 'Check yarn and vuepress versions'  
  
  - script: |  
      echo "Cleaning cache and reinstalling dependencies..."  
      npm cache clean --force  
      yarn install --force  
    displayName: 'Clean cache and reinstall dependencies'  
  
  - script: |  
      echo "Building the project..."  
      npx vuepress build .  
    displayName: 'Build the project'  
  
  - task: CopyFiles@2  
    inputs:  
      SourceFolder: '$(Build.SourcesDirectory)\.vuepress\dist'  
      Contents: '**'  
      TargetFolder: '$(Build.ArtifactStagingDirectory)\dist'  
    displayName: 'Copy files to artifact staging directory'  
  
  - task: PublishBuildArtifacts@1  
    inputs:  
      PathtoPublish: '$(Build.ArtifactStagingDirectory)\dist'  
      ArtifactName: 'dist'  
    displayName: 'Publish build artifacts'  
  
  - task: DownloadBuildArtifacts@0  
    inputs:  
      buildType: 'current'  
      downloadType: 'single'  
      artifactName: 'dist'  
      downloadPath: '$(Build.ArtifactStagingDirectory)'  
    displayName: 'Download build artifacts'  
  
  - task: CopyFilesOverSSH@0  
    inputs:  
      sshEndpoint: 'NcfDoc'  # 使用指定的SSH服务连接名称  
      sourceFolder: '$(Build.ArtifactStagingDirectory)\dist'  
      contents: '**'  
      targetFolder: 'C:\website\NCF\wwwroot\ncf\sample\wwwroot\docs'  # 直接使用文件路径  
      cleanTargetFolder: true  
    displayName: 'Copy files to Windows Server via SSH'  
